<!DOCTYPE html>
<html>
  <head>
    <title>ReceptionistPortal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'patients' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "chartkick" %>

    <%= favicon_link_tag asset_path("logo.png") %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    
    <% flash.each do |key, value| %>
      <div class="flash-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    
    <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
